# Hypothesis Overview

1. Has the network latency gone up since we switched internet service providers?

    - null = The network ltency has not changed since we switched providers.
    - alternative = The network ltency has changed since we switched providers. 

    - true positive = greater latency switching providers -- H0 is false
    - true negative = No latency switching providers -- H0 is true

    - T1 = There was a change
    - T2 = There was no change

2. Is the website redesign any good?

    - null = website redesign is good. -- no difference
    - alternative = websited redesign needs work. -- difference 

    - true positive = redesign needs work. -- H0 is false
    - true negative = redesign is good. -- H0 is true

    - T1 = redesign does not need any work. -- null is true but rejected
    - T2 = redesign needs work. -- null is false but acepted

3. Is our television ad driving more sales?

    - null = Ad is driving sales. -- no difference
    - alternative = Ad is not driving sales. -- difference 

    - true positive = Need better ads. -- H0 is false
    - true negative = ads are working. -- H0 is true

    - T1 = Ad is driving more sales. -- null is true but rejected
    - T2 = Ads are not driving sales. -- null is false but acepted

# Hypothesis Testing

In [13]:
from math import sqrt
from scipy import stats
from statsmodels.stats.weightstats import ttest_ind

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import seaborn as sns

1. Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices.

.05 level of significance

Office

    - sample of 40 sales
    - mean of 90 days
    - standard deviation of 15 days

Office 2

     - sample of 50 sales
     - mean of 100 days
     - standard deviation of 20

In [20]:
#STEP 1: Define H0 and Ha
#H0: the average time it takes to sell homes is different for both offices
#Ha: the average time it takes to sell homes is NO different for both offices

#STEP 2: alpha is .05 when comparing two independent groups
# a = .05

#STEP 3:
#Check the data for errors -- None?

#STEP 4: Check the assumptions for the test

#STEP 5: Test

from scipy.stats import ttest_ind_from_stats
ttest_ind_from_stats(mean1=90, std1=np.sqrt(15), nobs1=40, mean2=100, std2=np.sqrt(20), nobs2=50)

Ttest_indResult(statistic=-11.178355270480116, pvalue=1.4236789708004715e-18)

2. Load the mpg dataset and use it to answer the following questions:

    - Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
    - Are compact cars more fuel-efficient than the average car?
    - Do manual cars get better gas mileage than automatic cars?

In [21]:
from pydataset import data
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [22]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000