In [25]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats


np.random.seed(123)

## 1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

    What is the probability that no cars drive up in the noon hour?
    What is the probability that 3 or more cars come through the drive through?
    How likely is it that the drive through gets at least 1 car?

In [3]:
#certain number of events == 2 cars
#happen over a specific time interval (discrete measure)== 60 mins
#Will tell us "the likelihood of a certain number of events occuring over the time period"

stats.poisson(1).pmf(2)#use "pmf" because the count is cars. cann't have 1.5 cars.

0.18393972058572114

In [4]:
# What is the probability that no cars drive up in the noon hour?
stats.poisson(1).pmf(0)

0.36787944117144233

In [88]:
#What is the probability that 3 or more cars come through the drive through?
stats.poisson(1).sf(2)

0.08030139707139418

In [55]:
#How likely is it that the drive through gets at least 1 car?
stats.poisson(1).sf(1)

0.2642411176571153

In [87]:
nrows = 100_000 #number times to run the sim
ncols = 1 
#individual cohorts 
outcomes = [True, False] #True = go & False = nogo
#run sim
drivethru = np.random.choice(outcomes, nrows*ncols).reshape(nrows,ncols)
drivethru
#setup df
df=pd.DataFrame(drivethru)#create df
df.head()
df['data']=df.sum(axis=1)
df.data.mean()

0.50103

## 2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

    An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
    If I have a GPA of 3.5, what percentile am I in?

In [7]:
#standard normal deviation - defined by "a mean and a standard deviation"
#mean == 3.0
#std == .3

mn = 3
sd = .3

In [89]:
#CORRECT
#What grade point average is required to be in the top 5% of the graduating class?
gpa = stats.norm(mn, sd)
required_gpa = gpa.isf(.05)#"results above" 5%
required_gpa

3.4934560880854417

In [90]:
#CORRECT
#What GPA constitutes the bottom 15% of the class?
gpa = stats.norm(mn, sd)
required_gpa = gpa.ppf(.15)#"cdf" "results below" 15%
required_gpa

2.689069983151863

In [10]:
#NEEDS WORK
#An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
s=gpa.cdf(2.8)#????
s

0.2524925375469227

In [11]:
#NEEDS WORK
#If I have a GPA of 3.5, what percentile am I in?
p=gpa.pdf(3.5)#????
p

0.3315904626424956

## 3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [92]:
#CORRECT
#binomial distribution
#trials == 4326
#success == 60
#over 1 day

stats.binom(4326, .02).sf(96)#use 96 to include 97 and above

0.1397582363130086

In [85]:
#KEEP WORKING
nrows = 100_000
ncols = 1

select = np.random.choice(outcomes, nrows*ncols).reshape(nrows,ncols)
select
df=pd.DataFrame(select)#create df
df.head()
df['clicked']=df.sum(axis=1)
df['thru']=df.clicked >=ncols#based on the equation enters true or false
df.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,clicked,thru
0,True,False,True,False,True,True,True,False,False,True,...,True,False,False,True,True,True,False,True,43,False
1,True,False,True,True,False,True,True,True,False,False,...,False,False,True,False,True,True,True,False,47,False
2,True,True,True,False,False,True,True,True,False,True,...,True,False,True,False,True,True,False,True,56,False
3,True,True,True,False,True,True,False,True,False,True,...,True,False,True,False,True,False,False,False,48,False
4,False,False,True,True,True,False,False,True,False,False,...,False,True,True,False,False,False,True,True,45,False

In [86]:
df.thru.mean()

0.0

## 4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

    What is the probability that at least one of your first 60 answers is correct?

In [95]:
#CORRECT
stats.binom(60,.01).sf(0)#the number 60 comes from the "first 60 answers is correct"

0.4528433576092388

## 5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [54]:
#How likely is it that the break area gets cleaned up each day?
stats.binom(22,.9).sf(0)

1.0

In [15]:
#How likely is it that it goes two days without getting cleaned up?
stats.binom(22,.9).sf(2)

0.9999999999999999

In [16]:
#all week
stats.binom(22,.9).sf(5)

0.9999999999998396

## 6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [21]:
#mean == 15
#sd == 3

m = 15
s = 3

lunch = stats.norm(m, s)
toeat = lunch.pdf(1)
toeat

2.4820152902099967e-06

## 7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

    What percent of employees earn less than 60,000?
    What percent of employees earn more than 95,000?
    What percent of employees earn between 65,000 and 80,000?
    What do the top 5% of employees make?

In [23]:
from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [26]:
employees = pd.read_sql('SELECT CONCAT(first_name, " ", last_name) AS Full_Name, salaries.salary AS Salary FROM employees JOIN salaries USING(emp_no) WHERE salaries.to_date > CURDATE();', url)
employees.head()

           Full_Name  Salary
0     Georgi Facello   88958
1     Bezalel Simmel   72527
2      Parto Bamford   43311
3  Chirstian Koblick   74057
4   Kyoichi Maliniak   94692

In [27]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240124 entries, 0 to 240123
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Full_Name  240124 non-null  object
 1   Salary     240124 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

In [30]:
employees.describe()

              Salary
count  240124.000000
mean    72012.235857
std     17309.995380
min     38623.000000
25%     59048.750000
50%     69805.000000
75%     82546.000000
max    158220.000000

### What percent of employees earn less than 60,000?

In [96]:
m = 72_012
s = 17_310

stats.norm(72_012, 17_310).cdf(60_000)

0.2438617554963023

### What percent of employees earn more than 95,000?

In [97]:
m = 72_012
s = 17_310

stats.norm(72_012, 17_310).cdf(95_000)

0.9079140000589391

### What percent of employees earn between 65,000 and 80,000?

In [98]:
#REWORKm = 72_012
s = 17_310

salary = stats.norm(72_012, 17_310)
less=salary.sf(15_000)
less

0.9995054122972461

### What do the top 5% of employees make?

In [99]:
m = 72_012
s = 17_310

stats.norm(72_012, 17_310).isf(.05)

100484.41628253